
*{
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
 
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  header {
    background-color:#9acd32;
    color: #7b9ee9;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }

  nav li {
    margin-right: 20px;
  }
  
  nav li.login-link {
    margin-left: auto; 
  }
 
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }

.aboutfoodtrack{
  height: 60vh;
  width: 100%;
  padding: 30px 0;
  background: #ddd;
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 1920px;
}
.text h3{
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 20px;

}
.text h4{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}

.ben {
    width: 50%;
    padding: 0 15px;
    text-align: left;
  }
  
  .Group-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    left: 26%;
    bottom: 1%;
    position: absolute;
  }
  
  .Group-member {
    width: 30%;
    margin-bottom: 50px;
    text-align: left;
  }
  
  .Group-member img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
  .Group-member h4 {
    margin-bottom: 5px;
  }
  
  .Group-member p {
    margin: 0;
  }
  
  
  
  