* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #9acd32;
  color: #7b9ee9;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav li.login-link {
  margin-left: auto; 
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #555;
}

.aboutfoodtrack {
  background: #ddd;
  padding: 30px;
}

.about {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  width: 100%;
}

.text h3 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 20px;
}

.text h4 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.Group {
  background: #ddd;
  padding: 30px;
}

.Group h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}

.Group-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Group-member {
  width: 48%;
  margin-bottom: 30px;
}

.Group-member h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.Group-member h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
