<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food and Beverage company Order System - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
	<header>
        <nav>
            <ul>
                <li><a href="{{ url_for('view.index') }}">Home</a></li>
                <li class="login-link"><a href="{{ url_for('view.loginpage') }}">Login</a></li>
                <li class="register-link"><a href="{{ url_for('view.registerpage') }}">Register</a></li>
                <li><a href="{{ url_for('view.about') }}">About Us</a></li>
            </ul>
        </nav>
    </header>
	<main>
	<h1>Login to verify its you!</h1>
	<form action="{{ url_for('view.login') }}" method="post">
		<label for="username">Enter your username</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password"> Enter your Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Login">
		<p class="form__text">
			<a class="form__link" href="{{ url_for('view.registerpage') }}" id="linkCreateAccount">Don't have an One? No worries click to Create account</a>
		</p>
	</form>
	
</main>
</body>
</html>
