<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food and Beverage company Order System - login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
	<header>
        <nav>
            <ul>
                <li><a href="{{ url_for('view.index') }}">Home</a></li>
                <li><a href="{{ url_for('view.menu') }}">Menu</a></li>
                <li><a href="{{ url_for('view.tracking') }}">Track</a></li>
                <li class="login-link"><a href="{{ url_for('view.trackregister') }}">Register Order</a></li>
                <li class="login-link"><a href="{{ url_for('view.loginpage') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
	<main>
	<h1>Order Tracking</h1>
	<form action="/track" method="post">
		<label for="id">Customer Name</label>
		<input type="text" id="id" name="id" required><br><br>
		<button type="submit">Track your order</button>
	</form>
	
</main>
</body>
</html>
