<!DOCTYPE html>
<html>
<head>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LFood and Beverage company Order System- Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
	<header>
        <nav>
            <ul>
                <li><a href="{{ url_for('view.index') }}">Home</a></li>
                <li><a href="{{ url_for('view.menu') }}">Menu</a></li>
                <li><a href="{{ url_for('view.tracking') }}">Track</a></li>
                <li class="login-link"><a href="{{ url_for('view.trackregister') }}">Register Order</a></li>
                <li class="login-link"><a href="{{ url_for('view.loginpage') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
	<main>
	<h1>Register Order</h1>
	<form action="{{ url_for('view.registerorder') }}" method="post">
		<label for="name">Customer Name:</label>
		<input type="text" id="name" name="name"><br><br>
        <label for="nol">food order:</label>
		<input type="text" id="nol" name="nol"><br><br>
        <label for="dest">Address:</label>
		<input type="text" id="dest" name="dest"><br><br>
		<input type="submit" value="Register">
	</form>
</main>
</body>
</html>
