<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
			margin-top: 20px;
		}
		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}
		th {
			background-color: #4CAF50;
			color: white;
		}
		tr:hover {
			background-color: #f5f5f5;
		}
	</style>
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
	<header>
        <nav>
            <ul>
                <li><a href="{{ url_for('view.index') }}">Home</a></li>
				<li><a href="{{ url_for('view.menu') }}">Menu</a></li>
                <li><a href="{{ url_for('view.tracking') }}">Track</a></li>
				<li class="login-link"><a href="{{ url_for('view.trackregister') }}">Register Order</a></li>
                <li class="login-link"><a href="{{ url_for('view.loginpage') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
	<h2>Customer Name & Number of Orders Placed</h2>
	{% if users %}
		<table>
			<thead>
				<tr>
					<th>Order Id</th>
					<th>Customer Name</th>
					<th>Orders details</th>
					<th>Delivery Address</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user[0] }}</td>
						<td>{{ user[1] }}</td>
						<td>{{ user[2] }}</td>
						<td>{{ user[3] }}</td>
						<td>{{ user[4] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No users found.</p>
	{% endif %}

	<!-- Debugging code to display the 'users' variable -->
	
</body>
</html>
